<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail Bazaar</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body id="main-page">
    <nav class="navbar-fixed">
        <h1>COCKTAIL BAZAAR</h1>
        <ul class="li-recipe" >
          <li >
            <% if (user) { %>
             <h4><a href="/recipes" type="submit">RECIPES</a>
              <a href="/logout"><i class="material-icons left">logout</i>LOGOUT</a>
            <% } else { %>
              <a href="/auth/google"><i class="material-icons left">login</i>LOGIN</a> </h4>
            <% } %>
          </li>
        </ul>
    </nav>
</body>
</html>
