/* 







.card-container {
  text-align: center;
  display: grid;
  column-gap: 10px;
  row-gap: 25px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 10px;
  border-bottom: 2px solid #fa26a0;
}

table td {
  padding: 10px;
  text-align: center;
}

.review-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#list a {
  border-radius: 4px;
  background-color: #f4a261;
  padding: 7px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: #2a9d8f;
}


ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

.update-container {
  border: 1px solid whitesmoke;
  height: 30%;
  width: 30%;
  margin-bottom: 50px;
}


 */

.navbar-fixed {
  position: fixed;
  display: flex;
  background-color: #fefae0;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  width: 100vw;
  height: 5rem;
  font-size: 20px;
  text-decoration: none;
  color: #274c77;
}

#main-page {
  background-image: url("http://drive.google.com/uc?export=view&id=19xxax66cR_eWY-G-DOQ28d5r9gFtrhrt");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
  font-family: "Josefin Slab", serif;
}

a {
  text-decoration: none;
  color: #274c77;
}

#show-page {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#show-page:hover {
  opacity: 0.8;
  font-size: x-large;
  font-weight: 600;
  transition: all 0.5s ease-out;
}

.recipe-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

body {
  background-color: #fefae0;
  height: 100%;
  font-family: "Josefin Slab", serif;
  text-decoration: none;
  display: grid;
  font-size: x-large;
  font-weight: 600;
  color: #274c77;
}

.list {
  width: 100px;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 50px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.button-75 {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fefae0 ;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
